@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 600;
  src: url("/fonts/Poppins-Bold.ttf");
}

.diagonal-clip {
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 90%);
}
